<div *ngIf="signedInUser; else signInTemplate" class="flex flex-col gap-4">
  <div
    *ngIf="todoLists; else loadingTemplate"
    class="flex items-center justify-between w-full"
  >
    <p class="text-h4">Tvoje TODO listy</p>
    <todoee-home-todo-item-filter
      (filterSelectionChange)="applyFilter($event)"
    ></todoee-home-todo-item-filter>
    <ui-button
      buttonText="Vytvoriť TODO list"
      (buttonClick)="createTodoList()"
    ></ui-button>
  </div>
  <todoee-home-todo-list
    class="w-full max-w-4xl"
    *ngFor="let list of todoLists"
    [list]="list"
    [filter]="selectedFilter"
  ></todoee-home-todo-list>
</div>

<ng-template #signInTemplate>
  <div
    class="h-full w-full justify-center flex flex-col gap-4 items-center text-center absolute top-0 left-0"
  >
    <p class="lg:text-h3 md:text-h4">Momentálne nie si prihlásený/á.</p>
    <ui-button
      [buttonType]="UiButtonType.AUTH"
      buttonText="Prihlás sa cez Google"
      (buttonClick)="signInWithGoogle()"
    ></ui-button>
  </div>
</ng-template>

<ng-template #loadingTemplate>
  <ui-loading></ui-loading>
</ng-template>
