<div
  *ngIf="signedInUser; else signInTemplate"
  class="flex flex-col gap-4 items-center justify-center"
>
  <div
    *ngIf="todoLists; else loadingTemplate"
    class="flex items-center justify-between w-full"
  >
    <p class="text-h4">Tvoje TODO listy</p>
    <ui-button
      buttonText="Vytvoriť TODO list"
      (buttonClick)="createTodoList()"
    ></ui-button>
  </div>
  <div
    class="border border-secondary-lightGrey rounded-md shadow-md p-4"
    *ngFor="let list of todoLists"
  >
    <ui-icon
      class="cursor-pointer"
      [path]="Icons.add.circleDark"
      (click)="createTodo(list.id)"
    ></ui-icon>
    <p class="font-medium">{{ list.name }}</p>
  </div>
</div>

<ng-template #signInTemplate>
  <div
    class="h-full w-full justify-center flex flex-col gap-4 items-center text-center absolute top-0 left-0"
  >
    <p class="lg:text-h3 md:text-h4">Momentálne nie si prihlásený/á.</p>
    <ui-button
      [buttonType]="UiButtonType.AUTH"
      buttonText="Prihlás sa cez Google"
      (buttonClick)="signInWithGoogle()"
    ></ui-button>
  </div>
</ng-template>

<ng-template #loadingTemplate>
  <ui-loading [whitenedBackground]="true"></ui-loading>
</ng-template>
